html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper span {
    background-color: green;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

.wrapper span:hover {
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(70, 173, 198, 1);
    z-index: 9999998;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay .modal {
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    position: relative;
}

.modal .close-modal {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 8px;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    border-top-right-radius: 5px;
}

.modal .close-modal:hover {
    cursor: pointer;
}

.hidden-element {
    display: none;
}